<%= form_tag conversation_messages_path(message.conversation_id, message_id: message.id), :method => :post, html: {multipart: true} do %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-lg-12 form-inputs">
        <div class="form-group">
          <%= text_area_tag "body", nil,"cols" => 50, "rows" => 4, class: "form-control form-inputs", placeholder: "Type here your reply message....."%><br>
          <%= button_tag(type: "submit", class: "btn btn-warning") do %>
            <i class="fa fa-paper-plane"></i>&nbsp; Send
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>