<!DOCTYPE html>
<html>
  <body>
    <p>Hi</p>

    <p>Please find the list of people are arrears today in the attachment.</p>
    <p>
      <b> Thanks </b><br>
      Team <br>
      CityLets
    </p>
  </body>
</html>
