<!DOCTYPE html>
<html>
  <body>
    <p>Hello <%= @landlord.landlord_name %></p>
    <br>

    <p>Please find attached your monthly booking report.</p>
    <br>

    <p>The first section references, your current tenants and contracted tenancy amounts. The second page is for the next student year and all bookings, rolling tenancies and any vacancies.</p>
    <br>

    <p>If you are receiving this and are not in the student market, please note that these are the contracted amounts for fixed term periods, and if already beyond the end of tenancy date, or you have not been alerted to Notice being given, the monthly contract will keep rolling on or you can request they are moved onto new fixed term tenancy agreements by the admin team. This will be a case of recontracting for 6 or 12 months.</p>
    <br>

    <p>Many thanks and have a great week</p>

    <p>
      Team <br>
      CityLets
    </p>
  </body>
</html>
