<!DOCTYPE html>
<html>
<body>
  <p>Hi <%= @user.full_name %>,</p>

  <p>This email is to give you a access your account by using following credentials with temproray password.</p>
  <p>
    <b>Username:</b> <%= @user.username %><br>
    <b>Password:</b> <%= @password %>
  </p>
  <p>Note: You should change this temp password using the forgot password <%= link_to 'Forgot Password', new_user_password_url %> or you will also get the mail for <b>Reset password instruction</b>. </p>

  <p>Let us know if you have any questions.</p>
  <p>
    <b> Thanks </b><br>
    Team <br>
    CityLets
  </p>
</body>
</html>
