<div class="row">
  <div class="col-md-12">
    <h3 class="article-title">Tenancy Documents</h3>
      <%= f.simple_fields_for :tenancy_documents do |tenancy_document| %>
        <%= render 'tenancy_document_fields', f: tenancy_document %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add tenancy documents', f, :tenancy_documents, partial: 'tenancy_document_fields', class: 'btn small btn-success' %>
      </div>
  </div>
</div>
