<%= render 'dashboard_header' %>
<div id="tenancy-block" class="row text-center">
  <div class="container">
    <p class="alert alert-danger">
      I am sorry to inform you that this property has now been booked.
      Please contact CityLets to discuss another property!
    </p>
  </div>
</div>