<div class="tab-pane fade" id="week" role="tabpanel" aria-labelledby="week-tab">
  <%= calendar number_of_days: 5, events: @events do |date, events| %>
    <%= date %>
    Viewings: <%= events.count %>
  <% end %>
</div>