<div class="nested-fields">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.input :title %>
      </div>
    </div>
    <div class="col-md-6">
      <%#= f.file_field :attachment, :multiple => true, name: "property[attachments_attributes][][attachment]" %>
    </div>
  </div>
  <%#= link_to_remove_association "Remove", f, class: "remove" %>
  <hr>
</div>