<section id="images">
  <h3 class="article-title">Sync with</h3>
  <div class="row">
    <div class="col-md-4">
      <div class="form-inline inline-me">
        <%= f.check_box :right_move, checked: property.right_move %>&nbsp;
        <%= f.label :right_move, "Rightmove" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-inline inline-me">
        <%= f.check_box :zoopla, checked: property.zoopla %>&nbsp;
        <%= f.label :zoopla, "Zoopla" %>
      </div>
    </div>
  </div>
</section>
