$("#notice").show();
$("#notice").html("<div class='alert alert-success alert-dismissible fade show'> Expense has been deleted successfully!<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>")
$('#property_expense').html("<%= j render 'properties/property_expenses' %>")
DocumentPreview();
