<div id="tenancy-header" class="text-center col-12 d-block">
  <div class="row">
    <div id="logo" class="col-md-4">
      <%= image_tag('city-lets-trimmed.png', class: 'img-fluid') %>
    </div>
    <div class="col-md-4 flex-center">
      <div class="box">
        <h1>My Guarantor Dashboard</h1>
      </div>
    </div>
    <div id="ombudsman" class="d-none d-lg-flex col-lg-4 col-xl-4 pl-0 flex-center">
      <div class="box">
        <%= image_tag('the-property-ombudsman-lettings.jpg', class: 'img-fluid') %>
      </div>
    </div>
  </div>
</div>