<h1>Editing System Content Data Category</h1>

<%= render 'form', system_content_data_category: @system_content_data_category %>

<%= link_to 'Show', @system_content_data_category %> |
<%= link_to 'Back', system_content_data_categories_path %>
