@import "variables";
/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar-toggle {
  i {
    &.fas {
      background: $light-grey;
      padding: 5px;
      border-radius: 3px;
    }
  }
}

#sidebar {
  background: $pm-blue;
  color: white;
  min-width: 80px;
  max-width: 80px;
  min-height: 100vh;
  border-right: 1px solid white;
  transition: 0.3s;
  position: relative;
  &.active {
    transition: 0.3s;
  }
  #sidebar-header-block {
    padding: 10px;
    background: lighten($pm-blue, 2%);
    border-bottom: 1px solid white;
    .sidebar-header {
      .company-logo {
        background: $white;
        padding: 9px;
        margin: 0 4px;
        border-radius: 45px;
        border: 1px solid $light-grey;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
  }
  h3 {
    color: $white;
  }
  ul {
    padding: 20px 0;
    margin: 0;
    li {
      padding: 10px 0;
      margin-bottom: 10px;
      a {
        text-align: left;
        color: $white;
        &:hover {
          color: $khaki;
          text-decoration: none;
          i {
            color: $khaki;
          }
        }
      }
      &.active {
        background: lighten($pm-blue, 5%);
        a {
          color: $flamingo;
          i {
            color: $flamingo;
          }
          &:hover {
            color: $khaki;
            i {
              color: $khaki;
            }
          }
        }
      }
    }
  }
  .fa5-text {
    padding: 0;
    font-size: 10px;
  }
  &.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    .sidebar-header {
      h3 {
        display: none;
      }
      strong {
        display: block;
      }
    }
    ul {
      li {
        a {
          display: block;
          text-align: center;
          font-size: 0.85em;
          padding: 0;
          font-size: 0.85em;
          i {
            margin-right:  0;
            display: block;
            font-size: 1.8em;
            margin-bottom: 5px;
          }
        }
        ul {
          li {
            a {
              padding: 10px;
            }
          }
        }
      }
    }
  }
  #version {
    font-size: 12px;
    font-style: italic;
    position: absolute;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
  }
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/

/* Same dropdown links padding*/

/* Changing the arrow position to bottom center position,
   translateX(50%) works with right: 50%
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    transition: 0.3s;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  /* 80px and its content aligned to centre. Pushing it off the screen with the
     negative left margin
  */
  #sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px;
  }


  /* Reappearing the sidebar on toggle button click */
  #sidebar {
    &.active.show {
      margin-left: 0;
    }
  }


  /* Toggling the sidebar header content,
     hide the big heading [h3] and showing the small heading [strong] and vice versa
  */
  #sidebar .sidebar-header strong {
    display: none;
  }
  #sidebar.active .sidebar-header h3 {
    display: none;
  }
  #sidebar.active .sidebar-header strong {
    display: block;
  }

  /* Downsize the navigation links font size */
  //#sidebar.active ul li a {
  //  padding: 20px 10px;
  //  font-size: 0.85em;
  //}

  #sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
  }

  /* Adjust the dropdown links padding*/
  #sidebar.active ul ul a {
    padding: 10px !important;
  }

  /* Changing the arrow position to bottom center position,
    translateX(50%) works with right: 50%
    to accurately  center the arrow */
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}


