<!DOCTYPE html>
<html>
  <body>
    <p>Hi</p>

    <p>Please find the <b>Full listings monthly report</b> in the attachment.</p>
    <p>
      <b> Thanks </b><br>
      Team <br>
      CityLets
    </p>
  </body>
</html>
