<!DOCTYPE html>
<html>
  <body>
    <p>Hi</p>

    <p>Please find the attached compliance documents for <%= @property.display_address %>%</p>
    <p>
      <b> Thanks </b><br>
      Team <br>
      CityLets
    </p>
  </body>
</html>
