<!DOCTYPE html>
<html>
  <body>
    <p>Hi</p>

    <p>You have requested for selected listings. please find the attachment</p>
    <p>
      <b> Thanks </b><br>
      Team <br>
      CityLets
    </p>
  </body>
</html>