<!DOCTYPE html>
<html>
  <body>
    <p>Hi Team,</p>
    <p><%= @tenancy.tenant_name %> has completed their tenancy dashboard for <%= @tenancy&.room&.property&.property_name %>, room <%= @tenancy&.room&.number %>.</p>
    <p>
      <b> Thanks </b><br>
      Team <br>
      CityLets
    </p>
  </body>
</html>
