<!DOCTYPE html>
<html>
  <body>
    <p>Hello,</p>
    <br>
    <p>Tenancy <%= @tenancy.first_name %> booking/dashboard process of Room <b><%= @tenancy.room.number %>, <%= @tenancy.room.property.property_name %></b> has been completed. </p>

    <p><b>Move In Appointment</b></p>

    <p>Make sure you bring your passport, visa if required and also a bank card!</p>

    <p>We are excited to have you move in and you will be able to pick up your keys between 3-5pm on the day your tenancy begins! Please pop an email over to <a href="lewis@cityletsplymouth.co.uk">lewis@cityletsplymouth.co.uk</a> to confirm best time or to make alternate arrangements.</p>

    <p>Your appointment will be in our city central office (in front of Drake circus) on Eastlake Street, PL1 1BA.</p>

    <p><b>Booked from September 1st?</b></p>

    <p>We run move ins throughout the whole month of September. You will have a few emails between now and then! However, remember the 1st is super busy as a few 100 people will be moving in. Get prepped for a queue and move ins start at 10am. If you can vary the day going in that is great and may mean swifter key pick up!</p>

    <p>Many thanks and welcome to CityLets</p>

  </body>
</html>
